<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
    </head>
    
    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <div>
                    <img src="../public/images/workos-logo-with-text.png" alt="workos logo" />
                </div>
            </div>
            <div class="flex">
                <a href="/directory">
                    <button class="button nav-item">Directory</button>
                </a>
                <a href="/logout">
                    <button class="button button-outline">
                        Log Out
                    </button>
                </a>
            </div>
        </div>
        <div class="flex">
            <p>Hi <%= profile.first_name %> <%= profile.last_name %>!</p>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    </body>
</html>
